.send{
    width: 50px;
    height: 20px;
    background: $black-cl;
    @include text($fz-main, PR2, normal, $white-cl, uppercase);
    @include midflex();
    margin: 23px 0 0 auto;
    &:hover{
        cursor: pointer;
    }
}

.book-now{
    width: 100px;
    height: 100px;
    background: $gray-cl;
    border-radius: 10px;
    @include midflex();
    flex-direction: column;
    p{
        @include text(24px, PR2, normal, $yellow-cl, uppercase);
        margin-bottom: 0;
    }
    span{
        @include text(27px, PR1, normal, $yellow-cl, uppercase);
    }
}

.book-now-hover{
    width: 100px;
    height: 100px;
    background: $yellow-cl;
    border-radius: 5px;
    @include midflex();
    flex-direction: column;
    p{
        @include text(24px, PR2, normal, $black-cl, uppercase);
        margin-bottom: 0;
    }
    span{
        @include text(27px, PR2, normal, $black-cl, uppercase);
    }
}

.submit{
    width: 100px;
    height: 100px;
    background: $gray-cl;
    border-radius: 10px;
    @include midflex();
    @include text($fz-main-sm, PR2, normal, $yellow-cl, uppercase);
}

.learn-more{
    @include midflex();
    position: absolute;
    bottom: 0;
    right: 15px;
    p{
        @include text($fz-main, PR3, normal,$black-cl, uppercase);
        margin-bottom: 0;
        padding-right: 10px;
    }
    img{
        max-width: 100%;
        width: 30px;
        height: 10px;
    }
}