footer{
    .container{
        .wrapper{
            width: 100%;
            .info{
                width: 100%;
                &:before{
                    display: block;
                    content: " ";
                    width: 100%;
                    height: 1px;
                    background: $black-cl;
                    margin: 0 -15px 60px 15px;
                }
                &__left{
                    padding-left: 35px;
                    
                    p{
                        @include text($fz-main, PR3, normal, $black-cl, uppercase);
                    }
                    &--tel{
                        margin-top: 40px;
                        span{
                            margin-right: 10px;
                            @include text($fz-main, PR3, normal, $black-cl, uppercase);
                        }
                    }
                }
                &__right{
                    p{
                        @include text($fz-main, PR3, normal, $black-cl, uppercase);
                    }
                }
            }
        }
    }
    .footer-bot{
        width: 100%;
        background: $yellow-cl;
        .form{
            padding-top: 25px;
            &__address{
                padding-left: 35px;
                p{
                    @include text($fz-main, PR3, normal, $black-cl, uppercase);
                }
            }
            &__npe{
                margin-left: -15px;
                .form-m{
                    margin-top: -7px;
                }
                &--npe{
                    margin-bottom: 20px;
                    label{
                        @include text($fz-main, PR3, normal, $black-cl, none);
                        margin-bottom: 0;
                    }
                    input{
                        height: 30px;
                        background: $yellow-cl;
                        border: 0;
                        border-bottom: 1px solid $black-cl;
                        width: 100%;
                        outline: 0;
                        padding-left: 5px;
                    }
                    .error{
                        width: 100%;
                        border: 1px solid red;
                    }
                    .p-error{
                        color: red;
                        font-size: $fz-main;
                        position: absolute;
                    }
                    
                }      
            }
    
            &__sm{
                .form-m{
                    margin-top: -7px;
                }
                &--sm{
                    margin-bottom: 20px;
                    label{
                        @include text($fz-main, PR3, normal, $black-cl, none);
                        margin-bottom: 0;
                    }
                    input{
                        width: 100%;
                        height: 30px;
                        background: $yellow-cl;
                        border: 0;
                        border-bottom: 1px solid $black-cl;
                        outline: 0;
                        padding-left: 5px;
                    }
                    .error{
                        width: 100%;
                        border: 1px solid red;
                    }
                    .p-error{
                        color: red;
                        font-size: $fz-main;
                        position: absolute;
                    }
                } 
                .form__sm--sm-mes{
                    margin-top: -15px;
                    label{
                        @include text($fz-main, PR3, normal, $black-cl, none);
                        margin-bottom: 0;
                    }
                    input{
                        width: 100%;
                        height: 30px;
                        background: $yellow-cl;
                        border: 0;
                        border-bottom: 1px solid $black-cl;
                        outline: 0;
                        padding-left: 5px;
                    }
                    .p-error{
                        color: red;
                        font-size: $fz-main;
                        position: absolute;
                    }
                    .error{
                        width: 100%;
                        border: 1px solid red;
                    }
                }
                    
            }
        }
        .scroll{
            padding: 50px 0 30px 0;
            @include midflex();
            flex-direction: column;
            .arrow-scroll{
                cursor: pointer;
            }
            p{
                @include text($fz-main, PR3, normal, $black-cl, uppercase);
                margin-top: 20px;
            }
        }
    }
    
    @include mobile{
        .container{
            max-width: 766px;  
            .wrapper{
                .info{
                    &:before{
                        height: 0;
                        margin: 0 -15px 15px 15px;
                    }
                    &__left{
                        @include midflex();
                        flex-direction: column;
                        margin-top: -20px;
                        width: 100%;
                        height: auto;
                        margin-bottom: 110px;
                        &--tel{
                            margin-top: 0;
                        }
                    }
                    &__right{
                        display: none;
                    }
                }   
            }
        }
        .footer-bot{
            position: relative;
            &:before{
                position: absolute;
                top: -220px;
                display: block;
                content: " ";
                width: 100%;
                height: 1px;
                background: $black-cl;
    
            }
            .form{
                &__address{
                    @include midflex();
                    flex-direction: column;
                    margin-top: -140px;
                    padding-left: 0;
                }
                &__npe{
                    display: none;
                }
                &__sm{
                    display: none;
                }
    
            }
            .scroll{
                padding: 20px 0 20px 0;
            }
        }
    }   
}
