.about{
    width: 100%;
    height: 610px;
    background: #282828;
    margin-top: -11px;
    margin-bottom: -1px;
    position: relative;
    .container{
        height: 100%;
    }
    &__main{
        width: 100%;
        height: 100%;
        &--background{
            display: flex;
            justify-content: flex-end;
            width: calc(100% + 50px);
            height: 100%;
            overflow: hidden;
            img{
                height: auto;
                filter: brightness(150%);
                -webkit-filter: brightness(150%);
                -moz-filter: brightness(150%);
            }
        }
        &--content{
            position: absolute;
            top: 0;
            margin-left: 20px;
            .gbox{
                margin-top: 90px;
                h2{
                    letter-spacing: 20px;
                    @include text($fz-main-gs, PR2, normal, $yellow-cl, uppercase);
                }
            }
            .studio{
                margin-top: 15px;
                h2{
                    letter-spacing: 20px;
                    @include text($fz-main-gs, PR2, normal, $yellow-cl, uppercase);
                }
            }
            .content{
                width: 80%;
                margin-top: 15px;
                p{
                    margin-bottom: 0;
                    @include text(18px, PR3, 2, $white-cl, none);
                    letter-spacing: 0.55px;
                }
            }
            .booking{
                margin-top: 50px;
                display: flex;
                .if{
                    width: 100px;
                    @include text(14px, PR3, normal, $white-cl, none);
                    margin-left: 10px;
                }
                .book-now:hover{
                    background: $yellow-cl;
                    cursor: pointer;
                    p, span{
                        color: $black-cl;
                    }
                }
            }
        }
        
    }


    @include desktop{
        &__main{
            &--background{
                width: calc(100% + 45px);
            }
            &--content{
                .gbox{
                    margin-top: 50px;
                }
            }
        }
        
    }

    @include tablet{
        &__main{
            &--background{
                width: calc(100% + 35px);
            }
            &--content{
                .gbox{
                    margin-top: 40px;
                }
                .content{
                    width: 90%;
                }
                .booking{
                    margin-top: 25px;
                }
            }
        }
    }

    @include mobile{
        padding-top: 40px;
        background: #171819;
        overflow: hidden;
        height: 900px;
        margin-bottom: 30px;
        margin-top: 0;
        .container{
            height: 100%;
        }
        &__main{
            &--background{
                width: 100%;
                height: auto;
                object-fit: cover;
                img{
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    filter: brightness(110%);
                    -webkit-filter: brightness(110%);
                    -moz-filter: brightness(110%);
                }
            }
            &--content{
                margin-left: 0;
                .content{
                    p{
                        margin-left: 20px;
                        font-size: 16px;
                        line-height: 2.25;
                    }
                }
                .booking{
                    .if{
                        width: 100px;
                    }
                }
            }
        }
    }
}