.about{
    width: 100%;
    background: #282828;
    margin-top: -11px;
    .container{
        height: 100%;
    }
    &__main{
        width: 100%;
        height: 100%;
        background: url("../img/aboutus.png");
        background-repeat: no-repeat;
        background-position: right;
        &--content{
            padding-left: 20px;
            .gbox{
                padding-top: 90px;
                h2{
                    letter-spacing: 20px;
                    @include text($fz-main-gs, PR2, normal, $yellow-cl, uppercase);
                }
            }
            .studio{
                padding-top: 5px;
                h2{
                    letter-spacing: 20px;
                    @include text($fz-main-gs, PR2, normal, $yellow-cl, uppercase);
                }
            }
            .content{
                width: 80%;
                padding-top: 10px;
                margin-bottom: 50px;
                p{
                    margin-bottom: 0;
                    @include text(18px, PR3, 2, $white-cl, none);
                    letter-spacing: 0.55px;
                }
            }
            .booking{
                display: flex;
                padding-bottom: 75px;
                margin-bottom: -1px;
                .if{
                    width: 100px;
                    @include text(14px, PR3, normal, $white-cl, none);
                    margin-left: 10px;
                }
                .book-now:hover{
                    background: $yellow-cl;
                    cursor: pointer;
                    p, span{
                        color: $black-cl;
                    }
                }
            }
        }
        
    }

    @include desktop{
        &__main{
            &--content{
                .content{
                    width: 90%;
                }
            }
        }
        
    }

    @include tablet{
        &__main{
            background-position: bottom;
            &--content{
                .content{
                    width: 100%;
                    p{
                        text-align: justify;
                    }
                }
            }
        }
    }
    @include mobile{
        background: #171819;
        margin-top: 20px;
        .container{
            max-width: 767px;
        }
        &__main{
            .container{
                padding: 0;
            }
            &--content{
                padding-right: 15px;
                .content{
                    p{
                        margin-left: 20px;
                        font-size: 16px;
                        line-height: 2.25;
                    }
                }
                .booking{
                    margin-bottom: 29px;
                    .if{
                        width: 100px;
                    }
                }
            }
        }
    }
}