.allwork{
    .container{
        @include midflex();
        flex-direction: column;
    }
    
    &__image{
        margin-top: 50px;
        @include midflex();
        flex-direction: column;
        .content{
            height: auto;
            margin-bottom: 10px;
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                li{
                    padding: 0 20px;
                    opacity: 1;
                    @include transition(opacity 0.4s);
                    a{
                        text-decoration: none;
                        @include text($fz-main, PR2, normal, black, uppercase);
                    }
                    &.-hover{
                        opacity: 0.4;
                        @include transition(opacity 0.4s);
                    }
                }
            }
        }
        .image{
            margin-bottom: 55px;
            .project{
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%;
                &__image{
                    width: 100%;
                    height: 190px;
                    img{
                        max-width: 100%;
                        height: 100%;
                        overflow: hidden;
                        width: 100%;
                        object-fit: cover;
                        cursor: pointer;
                    }
                }
                a{
                    width: 100%;
                    text-decoration: none;
                    color: $black-cl;
                }

                &__content{
                    margin-top: 35px;
                    @include midflex();
                    flex-direction: column;
                    h3{
                        @include text($fz-main, PR2, normal, $black-cl, uppercase);
                        &:after{
                            display: block;
                            content: " ";
                            width: 16px;
                            height: 3px;
                            background: $yellow-cl;
                            margin: 10px auto;
                        }
                    }
                    p{
                        margin-bottom: 10px;
                        @include text($fz-main, PR3, normal,$black-cl, none); 
                    }
                }
            }
        }
    }

    &__more{
        margin-bottom: 80px;
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        .more1{
            width: calc(100%/3);
        }
        .more2{
            width: calc(100%/3);
            display: flex;
            align-items: center;
            flex-direction: column;
            p{
                font-size: $fz-main;
                text-transform: uppercase;
            }
            @include keyframes(topToDown){
                0%{
                    opacity: 0;
                    @include transform(translateY(0px));
                    @include transition(0.4s);
                }
                100%{
                    opacity: 1;
                    @include transform(translateY(10px));
                    @include transition(0.4s);
                }
            }
            .arrow:hover{
                @include animation(topToDown 1s ease forwards);
            }
        }
        .more3{
            width: calc(100%/3);
            display: flex;
            justify-content: flex-end;
            padding-right: 0;
            .if{
                width: 25%;
                text-align: end;
                margin-right: 10px;
                @include text($fz-main, PR3, normal, black, none);
            }
            .book-now:hover{
                background: $yellow-cl;
                p, span{
                    color: $black-cl;
                    cursor: pointer;
                }
            }
        }
    }


    @include desktop{
        &__image{
            .image{
                img{
                    width: 300px;
                    height: 200px;
                }
            }
        }
        &__more{
            .more3{
                    .if{
                        width:30%;
                    }
            }
        }
    }

    @include tablet{
        &__image{
            .image{
                img{
                    width: 230px;
                    height: 160px;
                }
            }
        }
        &__more{
            .more3{
                .if{
                    width:40%;
                }
            }
        }
    }

    @include mobile{
        padding-top: 40px;
        .container{
            padding-left: 0;
            padding-right: 0;
            max-width: 767px;
        }

        &__image{
            .content{
                margin-top: -8px;
                margin-bottom: 30px
            }
            .image{
                margin-right: 0px;
                margin-bottom: 0;
                .project{
                    margin-bottom: 40px;
                    padding-right: 0;
                    &__image{
                        width: 100%;
                        height: 300px;
                        img{
                            overflow: hidden;
                            object-fit: cover;
                        }
                    }
                }
                
            }
        }
        &__more{
            flex-direction: column-reverse;
            margin-top: 35px;
            margin-bottom: 125px;
            .more2{
                width: 100%;
                margin-bottom: -65px;
            }
            .more3{
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .if{
                    width: 100px;
                    text-align: center;
                    margin-bottom: 10px;
                }
                .book-now{
                    margin-bottom: 60px;
                }
            }
        }
    }
}